pytube==15.0.0
click==8.1.7
pyannote-audio==3.3.2
openai-whisper==20240930
python_speech_features==0.6.0
speechbrain==1.0.1
python-dotenv==1.0.0
requests==2.32.3
openai==1.51.2
spacy==3.6.1
opencv-python==4.8.1.78
moviepy==1.0.3
tenacity==8.2.3
git+https://huggingface.co/kontur-ai/sbert_punc_case_ru@f778dc6c63bb0ec235a220488862509810e54583
